
/* standard view */
#main-page{
    font-family: "Raleway", Helvetica, sans-serif;
}
@media (min-width: 800px){

    .headContainers{
        width: 50vw;
        height: 50vw;
    }
    #leftHead{
        background-color:	rgb(14, 14, 14);
        background-image: url('../imgs/logo.png');
        background-repeat: no-repeat;
        background-size: 75%, 75%;
        background-position: center;
    }
    #rightHead{
        background-color: rgb(206, 84, 203);
        text-align: center;
        vertical-align: text-top;
        margin-left: 1em;
    }
    /* parts of the right  */
    .navbar{
        position: relative;
        text-align: center;
        font-size: 165%;
        display: block;
    }
    #topnav{
        top: .25em;
        left: 0;
        bottom: 10%;
    }


    /* body */
    #headingParagraph{
        text-align: left;
        width: 23em;
        top: 8em;
        font-size: 180%;
        position: relative;
        display: inline-block;
    }

}
/* small screen view */
@media (max-width: 801px){

    .headContainers{
        width: 100vw;
        height: 100vw;
        position: absolute;
    }
    #leftHead{
        background-color:	rgb(14, 14, 14);
        background-image: url('../imgs/logo.png');
        background-repeat: no-repeat;
        background-size: 75%, 75%;
        background-position: center;
    }
    #rightHead{
        background-color: rgb(206, 84, 203);
        text-align: center;
        vertical-align: text-top;

        top: 100vw;
    }
    /* parts of the right  */

    #topnav{
        top: 3.05em;
        left: 0;
        bottom: 10%;
    }

    /* body */
    #headingParagraph{
        text-align: left;
        width: 23em;
        top: 25vh;
        font-size: 230%;
        position: relative;
        display: inline-block;
    }
    #main-page{
        position: absolute;
        top: 200vw;
        width: 100vw;
    }
}

/* on top view */

@media (max-width: 501px){
    #headingParagraph{
        top: 10em;
    }
}


/* standard view body */

#mainTable{
    padding: 2.5em 4.5em 0 2.5em;
    width: 100vw;
}

.mainTableEle{
    padding: 3.5em;
}

.main-header{
    font-size: 225%;
    position: relative;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.semi-header{
    font-size: 150%;
    position: relative;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.semi-header::after, .main-header::after{
    display: block;
    margin-bottom: 1em;
    content: "____";
}
.standard-text{
    font-size: 150%;
    position: relative;
}
/* table for links to other pages */
#portalTable{
    margin: 2.5em 4.5em;
}
.portalTableEle{
    padding: 3.5em;
}
button{
    display: block;
    margin-top: 2em;
    background-color: rgb(206, 84, 203);
    border: 1px solid black;
    font-size: 157%;
    font-weight: bold;
    padding: .5em 1em;
    
}
