
.semi-header{
  font-size: 80%;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

.semi-header::after{
  display: block;
  content: "____";
}


#main{
    width: calc(100vw - 30em);
    padding: 9rem 15em 0 15em;
    position: relative;
}

ul {
    align-content: center;
    align-items: center;
    counter-reset: stepCount;
    display: flex;
    justify-content: space-evenly;
    padding: 3.6em 3.6em 2em 3.6em; /* for codepen */
    width: calc(100% - 7.2em);
  }
  
  li {
    background: dodgerblue;
    color: white;
    content: ' ';
    display: flex;
    flex-grow: 1;
    height: .3em;
    line-height: 1em;
    margin: 0;
    position: relative;
    text-align: right;
    z-index: -1;
  }
  
  li::before {
    color: white;
    background: dodgerblue;
    border-radius: 50%;
    counter-increment: stepCount;
    content: counter(stepCount); 
    height: 2em;
    left: -2em;
    line-height: 2em;
    position: absolute;
    text-align: center;
    top: -.85em;
    width: 2em;
  }
  
  li.active {
    background-color: lightblue;
  }
  
  li.active ~ li {
    background-color: lightblue;
  }
  
  li.active ~ li::before {
    background-color: lightblue;
  }
  
  li:last-child {
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 1;
    /* Shorthand: flex: 0 1 0; */
  }
  li:last-child::after{
      display: none;
  }
  #wrapLabels{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
  }

  #flow{
      font-size: 162%;
  }

  .tabContent{
      display: flex;
      justify-content: space-between;
      margin-top: 5em;
  }
.imageBox{
    width: 572px;
    height: 1200px;
}
  .textBox{
    -webkit-box-shadow: 10px 10px 38px -18px rgba(122,121,122,1);
    -moz-box-shadow: 10px 10px 38px -18px rgba(122,121,122,1);
    box-shadow: 10px 10px 38px -18px rgba(122,121,122,1);
  }

  .Daisy {
    height: 630px;
    width: 565px;
  }

  .Joshua {
    height: 650px;
    width: 520px;
  }

  .Javohir {
    height: 700px;
    width: 460px;
  }

  .Emmanuel {
    width: 570px;
  }

  .Michael {
    height: 700px;
    width: 460px;
  }